[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw/
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdParty/Catch2"]
	path = 3rdParty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "3rdParty/box2d"]
	path = 3rdParty/box2d
	url = https://github.com/erincatto/box2d
[submodule "3rdParty/joltphysics"]
	path = 3rdParty/joltphysics
	url = https://github.com/jrouwe/joltphysics
[submodule "3rdParty/bgfx.cmake"]
	path = 3rdParty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "3rdParty/enkiTS"]
	path = 3rdParty/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "3rdParty/tinygltf"]
	path = 3rdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "3rdParty/tinyobjloader"]
	path = 3rdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "3rdParty/zstd"]
	path = 3rdParty/zstd
	url = https://github.com/facebook/zstd
[submodule "3rdParty/miniaudio"]
	path = 3rdParty/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "3rdParty/cereal"]
	path = 3rdParty/cereal
	url = https://github.com/USCiLab/cereal
[submodule "3rdParty/tracy"]
	path = 3rdParty/tracy
	url = https://github.com/wolfpld/tracy
[submodule "3rdParty/simpleini"]
	path = 3rdParty/simpleini
	url = https://github.com/brofield/simpleini
