[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw/
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdParty/Catch2"]
	path = 3rdParty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "3rdParty/box2d"]
	path = 3rdParty/box2d
	url = https://github.com/erincatto/box2d
[submodule "3rdParty/joltphysics"]
	path = 3rdParty/joltphysics
	url = https://github.com/jrouwe/joltphysics
